.wrap{
	width: 100%;
	background-image: url(../images/bg.gif);
	background-position: center;
}
.header{
	width: 100%;
}
.header .top{
	width: 1000px;
	margin: 0 auto;
}
.header .top .logo img{
	width: 315px;height: 95px;
}
.header .nav-bar{
  width: 100%;
  /*background-color: #f9e4ab;*/
  background-color: #272727;
}
.header .nav-bar>ul{
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}
.header .nav-bar>ul li{
  float: left;
}
.header .nav-bar>ul li a{
  color:#a70f0f;
  font-size: 16px;
  padding:0 30px;
  line-height: 40px;
  font-weight: 800;
  font-family:"Microsoft YaHei";
}
.header .nav-bar>ul li:hover{
  background-image: url(../images/bg.gif);
}
.header .nav-bar>ul li:hover a{
  color:#fff;
}
/*轮播图*/
li{
	list-style: none;
}

#focus-banner{
	position: relative;
	width: 1000px;
	height: 482px;
	margin: 10px auto;
	overflow: hidden;
}

#focus-banner-list{
	position: relative;
}
#focus-banner-list li{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
#focus-banner-list li img{
	width: 100%;
	height: 482px;
}
.focus-banner-img{
	display: block;
}

#focus-banner-list .focus-banner-text{
	position: absolute;
	left: 50%;
	top: 0;
	width: 1000px;
	height:482px;
	margin-left: -500px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
#focus-banner .focus-handle{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	z-index: 100;
	display: block;
	width: 80px;
	height: 80px;
	background-image: url("../images/focus_handle.png");
}
#next-img{
	left: 0;
}
#next-img{
	left: 50px;
	background-position: 0 0;
}
#next-img:hover{
	background-position: 0 -80px;
}
#prev-img{
	right: 0;
}
#prev-img{
	right: 50px;
	background-position: -80px 0;
}
#prev-img:hover{
	background-position: -80px -80px;
}

#focus-bubble{
	position: absolute;
	left: 50%;
	bottom: 10px;
	z-index: 999;
}
#focus-bubble li{
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border:1px #000 solid;
	cursor: pointer;
}
#focus-bubble li a{
	display: block;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=0);
	opacity: 0;
}
#focus-bubble li.current{
	background-color: #000;
}
  /*轮播图结束*/
  .main .title{
  	width: 1000px;
  	margin: 0 auto;
  	background-image: url(../images/2.jpg);
  	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	background-size: cover;
  }
  .main .title .h1 h1{
  	color:#000;
  	width: 100px;
  	font-size: 16px;
  	line-height: 40px;
  	text-align: center;
  	margin-left: 35px;
  }
  .main .title .content{
  	margin-top: 20px;
  }
  .main .title .content .pic{
  	float: left;
  	margin-left: 10px;
  	height: 150px;
  	width: 120px;
  }
  .main .title .content .pic img{
  	width: 120px;height: 150px;
  }
  .main .title .content .column1{
  	margin-left: 150px;
  }
  .main .title .content .column2{
  	margin-left: 20px;
  }
  .main .title .content .column p>span{
  	color:red;
  	font-size: 16px;
  	font-weight: 700;
  }
  .main .title .content .column .p1{
  	font-size: 18px;
  	font-weight: 700;
  }
  .main .title .content .column p{
	line-height: 22px;
  }
  /*专家成员*/
  .main .tab{
  	width: 1000px;
  	margin: 0 auto;
    overflow: hidden;
  }
  .main .tab .title3{
  	width: 600px;
  	height: 40px;
  	background-image: url(../images/22.jpg);
  	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	background-size: cover;
    float: left;
  }
  .main .tab .title4{
    width: 400px;
    height: 40px;
    background-image: url(../images/22.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    float: left;
  }
  .main .tab .title3 h1{
  	width: 100px;
  	font-size: 16px;
  	line-height: 39px;
  	text-align: center;
  	margin-left: 31px;
  }
  .main .tab .title4 h1{
    width: 100px;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    margin-left: 31px;
  }
  .main .tab .content1{
  	padding-top: 20px;
  	background-image: url(../images/23.jpg);
  	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  }
  .main .tab .content1 .partner1{
  	width: 600px;
  	margin-left: 10px;
  	overflow: hidden;
  }
  .main .tab .content1 .partner1 .left{
  	width: 250px;
  	float: left;
  }
  .main .tab .content1 .partner1 .right{
  	width: 250px;
  	float: left;
  	margin-left: 30px;
  }
  .main .tab .content1 .partner1 img{
  	float: left;
  	width: 120px;height: 150px;
  }
  .main .tab .content1 .partner1 h2 a{
  	color:#303030;
  	font-size: 14px;
  }
  .main .tab .content1 .partner1 h2 a:hover{
  	color:red;
  }
  .main .tab .content1 .partner1 .left>h2{
  	padding-top: 30px;
  	margin-left: 130px;
  }
  .main .tab .content1 .partner1 .left>p{
	margin-left: 130px;
	line-height: 20px;
	margin-top: 5px;
	color:#555;
  }
  .main .tab .content1 .partner1 .right>h2{
  	padding-top: 30px;
  	margin-left: 130px;
  }
  .main .tab .content1 .partner1 .right>p{
	margin-left: 130px;
	line-height: 20px;
	margin-top: 5px;
	color:#555;
  }
  /*向上滚动*/
  .scrolltop{
  	margin-left: 825px;
    margin-top: -310px;
    width: 300px;
  }
  .myscroll {
  	width: 300px;
  	height: 308px;
  	margin: 0 auto;
    border: 1px solid #ccc;
    line-height: 26px;
    font-size: 12px;
    overflow: hidden;
}
  .myscroll li {
  	margin-left: 25px;
  }
  .myscroll a {
  	color: #333;
  	text-decoration: none;
  }
  .myscroll a:hover {
  	color: #ED5565;
  	text-decoration: underline;
  }
  /*饰品*/
  .main .shipin .title{
    width: 1000px;
    height: 40px;
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .main .shipin .title h1{
    width: 100px;
    text-align: center;
    margin-left: 40px;
    line-height: 38px;
    font-size: 16px;
  }
  .main .shipin .pic{
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    background-image: url(../images/23.jpg);
    overflow: hidden;
  }
  .main .shipin .pic .img{
    width: 220px;
    float: left;
    margin: 0 15px;
    display: block;
  }
  .main .shipin .pic .img img{
    width: 100%;
    height: 190px;
  }
  .main .shipin .pic img{
    cursor: pointer;
    transition: all 0.6s;
  }
  .main .shipin .pic img:hover{
    transform: scale(1.2);
  }
  .main .shipin .pic .img p{
    text-align: center;
    font-family: "Microsoft YaHei";
  }
  /*底部版权*/
    .tcopyright {
      width:900px;
      margin: 0 auto;
      text-align: center;
      font-size:12px;
      line-height:28px;
      color:#a4a4a4;
      margin-top: 10px;
    }
    .tcopyright .en{
      font-family:Arial;
    }
    .tcopyright a{
      color:#a4a4a4;
      text-decoration: none;
    }
    .tcopyright a:hover{
      color:#fff;
      text-decoration: underline;
    }
